{% extends 'blog/base.html' %}

{% block title %}Blog detail{% endblock %}

{% block content %}


<div class="container">
    <h2 class="text-center">{{ post.title }}</h2>
    <h6 class="text-right">게시자 : <a href="{% url 'user-detail' post.id %}">{{ post.user }}</a></h6>
    <h6 class="text-right">게시날짜 : {{ post.created_at }}</h6>
    <p>{{ post.content }}</p>
    <h6><a href="{% url 'like-detail' post.id %}">{{ post.number_like }}명</a>이 좋아요를 눌렀습니다.</h6>
    <br>
    <h6>댓글</h6>
    {% for comment in comments %}
    <p>{{ comment.user }} : {{ comment.content }}</p>
    {% endfor %}
    </div>
{% endblock %}